h1 {
  font-size: 50px;
  border-bottom: 1px solid gray;
  padding: 30px;
  margin: 0px;
  text-align: center;
}
#grid ol {
  border-right: 1px solid gray;
  width: 120px;
  list-style: disc;
  margin: 0px;
  padding: 37px;
  padding-top: 18px;
}
#contents {
  text-align: center;
  padding: 15px;
}
#Button {
  padding: 15px;
}
#grid {
  display: grid;  /* display-grid 지정이 첫번째!!! */
  grid-template-columns: 200px 1fr;
}
#context {
  padding: 30px;
}
@media(max-width: 800px) {
    #grid {
      display: block;
    }
    #grid ol {
      border-right:none;
    }
    h1 {
      border-bottom: none;
    }
    #contents {
      text-align: left;
    }
}
